@charset "ISO-8859-1";

.tab-teams:hover{
	background-color: #ddd;
}


#panel {
  padding: 50px;
  display: none;
}

/* CAROUSEL */

.container {
  width: 100%;
  margin: 20px auto;
}
.carousel{
  background: rgb(8, 3, 26);
  border: 2px solid rgb(8, 3, 26);
  border-radius: 5px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  position: relative;
	
	
}
.slider{
  display: flex;
  height: 100%;
  width: 250%;
  flex-shrink: 0;
  transition: all 0.5s;
  color: #ddd;
}
.slider div{
  flex-basis: 20%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.arrow{
	position: absolute;
	top: 10px;
	cursor: pointer;
	color: #ddd;
	
}
.arrow.prev{
	left: 10px;
}
.arrow.next{
	right:10px;
}

/* TOP NAVIGATION BAR*/
.topnav {
  overflow: hidden;
  background-color: #171426;
  top: 0;
  width: 100%;
  
    
}

#content{	
	margin-top: 5%;
}


.topnav img{
  
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 10%;
  top: 50%;
  width: 250px;
  font-size: 18px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}
.topnav span{
	
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;  
  text-decoration: none;
  margin-top:8px;
  margin-right:10px;
  font-size: 17px;
  
  cursor: pointer;
  
    
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #263F73;
  color: #ffffff;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #263F73;
  color: white;
}

.topnav .search-container {
  float: right;
}


.topnav input[type=text] {
  padding: 6px;
  margin-top: 0px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */


/*SEARCH*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 75%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue ;
  color: #ffffff;
}

/*ERROR STYLE*/
#content-error{
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-right: auto;
    float: left;
    display: block;
    background-color: #ffffff;
}
#content-error img{
    position: relative;
    margin-left: 25%;
    justify-content: center;
    width: 200px;
    height: 200px;
}
#content-error h2, h3{
    position: relative;
    text-align: center;
}
#content-error h2{
    font-family: monospace;
}
#content-error h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*TEAM TABLE*/

.team-table{
    margin-left: 20%;
    margin-right: auto;
    float: left;
    display: block;
}
.schedule-banner{
	text-align: center;
}
.login{

	text-align: center;
	width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-right: auto;
    float: left;
    display: block;
    background-color: #ffffff;
	
}

.login img{
	width: 150px;
	length: 150px;
}
.login h1{
	font-size: 30px;
	 font-weight: bold;
}
